<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>Eventos :.</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

	<link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />

</head>

<body>

	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Cadastro de Eventos</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/eventos" class="waves-effect waves-light btn"><i
						class="material-icons left">add_circle_outline</i>Voltar</a></li>					
				</ul>
			</div>
		</nav>
	</header>
	
	<h5 class="mt-60 text-center">Cadastrar Evento</h5>
	<form action="" class="container detalhesEvento" method="POST">
		<th:block th:include="mensagemValidacao"></th:block>	
		<div class="row">
			<div class="input-field col s12">
				Nome: <input type="text" value="" id="name" name="nome" placeholder="Digite seu nome " />
			</div>		
		</div>

		<div class="row">
			<div class="input-field col s6">
				Local: <input type="text" value="" id="local" name="local" placeholder="Digite o local do evento " />
			</div>
			<div class="input-field col s3">
				Data: <input type="date" value="" id="data" name="data" />
			</div>
			<div class="input-field col s3">
				Horário: <input type="time" value="" id="horario" name="horario" />
			</div>
		</div>

		<button type="submit" class="waves-effect waves-light btn">Salvar</button>
	</form>


	<!--JavaScript at end of body for optimized loading-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>

</html>